.contenedor-productos{
    display: inline-block;
    justify-content: space-around;
   
    
  }
  .productos{
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      padding-left: 1%;
      padding-top: 46px;
      padding-bottom: 46px;
      max-width: 500px;
  }
  .nombre-zapatilla{
      text-align: center;
      font-weight: 600;
      font-size: 14;
      line-height: 1;
      padding-top: 10px;
  }
  