@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');

.encabezado{
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    height: 10rem;
    align-items: center;
    font-family: 'Oswald', sans-serif;
    font-weight: 1000;
    margin: 2rem;
    width: 100%;
    padding:  6rem;
}

.logo{
    width: 10rem;
    height: 10rem;
    padding: 1em;
}


.icon {
    position: absolute;
    left: 1rem;
    fill: #9e9ea7;
    width: 1rem;
    height: 1rem;
}   

.ul{
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 5rem;
    flex-wrap: wrap;

}

.a{
    text-decoration: none;
    color: black;
}
.cart{
    border-style: none;
    background-color: transparent;
    
}